*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding: 20px;
}

#nav{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#navleft{
    display: flex;
    gap: 5px;
}

#navleft i{
  font-size: 30px;
}

#navleft h1{
    font-size: 15px;
    font-weight: 100;
    opacity: .7;
}

#navright{
    display: flex;
    gap: 5px;
}

#navright i{
  font-size: 30px;
}

#navright h1{
    font-size: 15px;
    font-weight: 100;
    opacity: .7;
}

#navmid{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    gap: 20px;
}

#navmid a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: black;
    opacity: .7;
}

#navmid button{
    background-color:black;
    color: aliceblue;
    font-size: 15px;
    font-weight: 100;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

#mid{
    height: 80%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1535638990993-5ad1c21631c4?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGdpcmwlMjBsYW5kc2NhcGV8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    position: relative;
   
}

#middle{
    height: 15%;
    width: 30%;
    position: absolute;
    gap: 20px;
    top: 70%;
    left: 50%;
    display: flex;
    transform: translate(-50%,-50%);
}

#box{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: WHITE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footer{
   height: 20%;
   width: 100%;
   position: absolute;
   top: 95%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

#textbox{
    height: 100%;
    width: 20%;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

#textbox img{
    height: 80%;
}
